body {
  width: 100%;
}

.parent {
  padding: 10px;
}
.progressbar {
  width: 60%;
  background-color: rgb(238, 235, 235);
}
.progressbar-process {
  height: 15px;
  overflow: hidden;
  background-color: rgb(49, 224, 49);
  transition: width 0.5s ease-in-out;
}
