body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 2px solid black;
}
.square {
  height: 50px;
  width: 50px;
}
